<div class="bg-light w-full max-lg:hidden">
  <div class="flex justify-around text-[#8D8E92]">
    <div class="flex px-5">
      <div
        class="h-100 d-inline-flex align-items-center py-3 mr-6 text-xl font-semibold"
      >
        <small class="fa fa-map-marker-alt text-primary mr-2"></small>
        <small>123 Street, New York, USA</small>
      </div>
      <div
        class="h-100 d-inline-flex align-items-center py-3 text-xl font-semibold"
      >
        <small class="far fa-clock text-primary mr-2"></small>
        <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
      </div>
    </div>
    <div class="flex px-5 text-right items-center gap-4">
      <div class="flex items-center py-3 mr-4 text-xl font-semibold">
        <small class="fa fa-phone text-primary mr-2"></small>
        <small>+012 345 6789</small>
      </div>
      <div class="flex items-center">
        <a
          class="btn btn-sm-square rounded-full bg-white text-primary mr-1"
          href=""
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a
          class="btn btn-sm-square rounded-full bg-white text-primary mr-1"
          href=""
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          class="btn btn-sm-square rounded-full bg-white text-primary mr-1"
          href=""
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
          class="btn btn-sm-square rounded-full bg-white text-primary mr-1"
          href=""
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<nav
  class="navbar flex items-center justify-between bg-white text-black sticky-top p-0 relative max-lg:flex-wrap"
>
  <a href="index.html" class="flex px-12 py-4 max-lg:px-8 max-lg:w-2/3">
    <h1 class="font-bold text-primary text-4xl">
      <i class="far fa-hospital me-3"></i>Clinic
    </h1>
  </a>
  <button
    type="button"
    (click)="showNavMenu()"
    class="text-3xl px-8 text-[#0000008c] w-1/3 text-right lg:hidden"
  >
    <i
      class="fa-solid fa-bars px-2 py-1 border-2 rounded border-[#0000001a] lg:hidden"
    ></i>
  </button>
  <div class="items-center flex max-lg:w-full">
    <div
      class="flex flex-wrap px-6 uppercase text-dark font-medium max-lg:p-4 max-lg:flex-grow max-lg:flex-col max-lg:border-t max-lg:border-[#0000001a]"
      [ngClass]="isNavMenuHidden ? 'max-lg:hidden' : 'max-lg:flex'"
    >
      <a
        routerLink="/home"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="text-primary"
        class="p-2 hover:text-primary"
        >Home</a
      >
      <a
        routerLink="/about"
        routerLinkActive="text-primary"
        class="p-2 hover:text-primary"
        >About</a
      >
      <a
        routerLink="/service"
        routerLinkActive="text-primary"
        class="p-2 hover:text-primary"
        >Service</a
      >
      <div
        class="relative"
        (mouseenter)="showDropdown()"
        (mouseleave)="hideDropdown()"
      >
        <a class="p-2 hover:text-primary inline-block dropdown-toggle">Pages</a>
        <ng-container *ngIf="!isDropdownHidden">
          <div
            class="absolute bottom-[-1] left-0 z-50 py-2 pt-4 bg-white rounded"
          >
            <a
              routerLink="/feature"
              class="block w-full py-1 px-6 text-gray-900 hover:text-primary"
              >Feature</a
            >
            <a
              routerLink="/team"
              class="block w-full py-1 px-6 text-gray-900 hover:text-primary"
              >Our Doctor</a
            >
            <a
              routerLink="/appointment"
              class="block w-full py-1 px-6 text-gray-900 hover:text-primary"
              >Appointment</a
            >
            <a
              routerLink="testimonial.html"
              class="block w-full py-1 px-6 text-gray-900 hover:text-primary"
              >Testimonial</a
            >
            <a
              routerLink="404.html"
              class="block w-full py-1 px-6 text-gray-900 hover:text-primary"
              >404 Page</a
            >
          </div>
        </ng-container>
      </div>
      <a
        routerLink="/contact"
        routerLinkActive="text-primary"
        class="p-2 hover:text-primary"
        >Contact</a
      >
    </div>
    <a
      routerLink="/"
      routerLinkActive="text-primary"
      class="text-xl text-white py-6 px-12 bg-primary hover:bg-blue-600 max-lg:hidden"
      >Appointment<i class="fa fa-arrow-right ms-3"></i
    ></a>
  </div>
</nav>
