<div class="footer bg-dark text-light mt-5 pt-16 lg:px-28 px-12">
  <div class="container py-5">
    <div class="flex flex-wrap">
      <div class="w-1/4 py-4 max-lg:w-1/2 max-md:w-full">
        <h5 class="text-light mb-4 text-xl font-semibold">Address</h5>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA
        </p>
        <p class="mb-2"><i class="fa fa-phone me-3"></i>+012 345 67890</p>
        <p class="mb-2">
          <i class="fa fa-envelope me-3"></i>info{{ "@example" }}.com
        </p>
        <div class="flex pt-2 gap-2">
          <a
            class="btn-social inline-flex items-center justify-center border text-light bg-dark rounded-full hover:text-primary hover:bg-light"
            href=""
            style="width: 35px; height: 35px"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn-social inline-flex items-center justify-center border text-light bg-dark rounded-full hover:text-primary hover:bg-light"
            href=""
            style="width: 35px; height: 35px"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn-social inline-flex items-center justify-center border text-light bg-dark rounded-full hover:text-primary hover:bg-light"
            href=""
            style="width: 35px; height: 35px"
            ><i class="fab fa-youtube"></i
          ></a>
          <a
            class="btn-social inline-flex items-center justify-center border text-light bg-dark rounded-full hover:text-primary hover:bg-light"
            href=""
            style="width: 35px; height: 35px"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="w-1/4 py-4 max-lg:w-1/2 max-md:w-full">
        <h5 class="text-light mb-4 text-xl font-semibold">Services</h5>
        <div class="flex flex-col">
          <a class="btn-link" href="">Cardiology</a>
          <a class="btn-link" href="">Pulmonary</a>
          <a class="btn-link" href="">Neurology</a>
          <a class="btn-link" href="">Orthopedics</a>
          <a class="btn-link" href="" s>Laboratory</a>
        </div>
      </div>
      <div class="w-1/4 py-4 max-lg:w-1/2 max-md:w-full">
        <h5 class="text-light mb-4 text-xl font-semibold">Quick Links</h5>
        <div class="flex flex-col">
          <a class="btn-link" href="">About Us</a>
          <a class="btn-link" href="">Contact Us</a>
          <a class="btn-link" href="">Our Services</a>
          <a class="btn-link" href="">Terms & Condition</a>
          <a class="btn-link" href="">Support</a>
        </div>
      </div>
      <div class="w-1/4 py-4 max-lg:w-1/2 max-md:w-full">
        <h5 class="text-light mb-4 text-xl font-semibold">Newsletter</h5>
        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        <div class="relative mt-4" style="max-width: 400px">
          <input
            class="block w-full px-2 mb-1 text-gray-800 border-gray-200 rounded py-4 ps-4"
            type="text"
            placeholder="Your email"
          />
          <button
            type="button"
            class="py-2 px-3 bg-primary absolute top-0 right-0 rounded m-2"
          >
            SignUp
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right
          Reserved.
        </div>
      </div>
    </div>
  </div>
</div>
