<div class="page-header py-24 mb-5">
  <div class="pl-32">
    <h1 class="mb-4 text-white text-6xl font-extrabold">Contact US</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="flex list-reset uppercase py-4">
        <li class="inline-block px-1">
          <a class="text-white" routerLink="/">Home /</a>
        </li>
        <li class="inline-block px-1">
          <a class="text-white" routerLink="/">Pages /</a>
        </li>
        <li class="inline-block px-1 text-primary">Contact</li>
      </ol>
    </nav>
  </div>
</div>

<div class="container m-auto mt-24">
  <div class="flex flex-col gap-8">
    <div class="flex gap-4 max-lg:flex-col">
      <div class="w-1/3 bg-light rounded flex items-center p-12 max-lg:w-full">
        <div
          class="flex items-center justify-center rounded-full bg-white"
          style="width: 55px; height: 55px"
        >
          <i class="fa fa-map-marker-alt text-primary"></i>
        </div>
        <div class="ms-4">
          <p class="text-[#8D8E92] font-bold">Address</p>
          <h5 class="font-bold text-xl">123 Street, New York, USA</h5>
        </div>
      </div>
      <div class="w-1/3 bg-light rounded flex items-center p-12 max-lg:w-full">
        <div
          class="flex flex-shrink-0 items-center justify-center rounded-full bg-white"
          style="width: 55px; height: 55px"
        >
          <i class="fa fa-phone text-primary"></i>
        </div>
        <div class="ms-4">
          <p class="text-[#8D8E92] font-bold">Call Us Now</p>
          <h5 class="font-bold text-xl">+012 345 6789</h5>
        </div>
      </div>
      <div class="w-1/3 bg-light rounded flex items-center p-12 max-lg:w-full">
        <div
          class="flex flex-shrink-0 items-center justify-center rounded-full bg-white"
          style="width: 55px; height: 55px"
        >
          <i class="fa fa-envelope-open text-primary"></i>
        </div>
        <div class="ms-4">
          <p class="text-[#8D8E92] font-bold">Mail Us Now</p>
          <h5 class="font-bold text-xl">info{{ "@example" }}.com</h5>
        </div>
      </div>
    </div>
    <div class="flex gap-4 max-lg:flex-col">
      <div
        class="w-1/2 bg-light rounded h-100 d-flex align-items-center p-12 h-full max-lg:w-full"
      >
        <p
          class="inline-block border border-[#C7DCFB] text-[#8D8E92] rounded-3xl bg-transparent my-3 py-1 px-4"
        >
          Contact Us
        </p>
        <h1 class="font-bold text-4xl text-dark my-3">
          Have Any Query? Please Contact Us!
        </h1>
        <p class="my-3 text-[#8D8E92] font-bold">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad.
          <a class="text-primary block mt-3" href="">Download Now</a>.
        </p>
        <form>
          <div class="flex flex-wrap gap-y-4">
            <div class="w-1/2 pr-4">
              <input
                type="text"
                class="block appearance-none w-full py-1 px-2 mb-1 bg-white text-[#8D8E92] font-semibold rounded border-0"
                placeholder="Your Name"
                style="height: 55px"
              />
            </div>
            <div class="w-1/2">
              <input
                type="email"
                class="block appearance-none w-full py-1 px-2 mb-1 bg-white text-[#8D8E92] font-semibold rounded border-0"
                placeholder="Your Email"
                style="height: 55px"
              />
            </div>
            <div class="w-full">
              <input
                type="email"
                class="block appearance-none w-full py-1 px-2 mb-1 bg-white text-[#8D8E92] font-semibold rounded border-0"
                placeholder="Subject"
                style="height: 55px"
              />
            </div>

            <div class="w-full">
              <textarea
                class="block w-full p-4 mb-1 bg-white text-[#8D8E92] font-semibold rounded border-0 datetimepicker-input"
                rows="3"
                placeholder="Message"
              ></textarea>
            </div>
            <div class="w-full">
              <button
                class="inline-block border rounded px-3 bg-blue-700 text-white hover:bg-blue-600 w-full py-3"
                type="submit"
              >
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="w-1/2 max-lg:w-full">
        <div class="h-full" style="min-height: 400px">
          <iframe
            class="rounded w-full h-full"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
